header {
    width: 88%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}

#container-search {
    width: 84%;
}

#form-search {
    width: 56%;
}

#bar-search {
    width: 96%;
}

/*************************/

main {
    width: 88%;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#page-title {
    width: 88%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#page-title h1 {
    font-size: 30px;
    font-weight: 500;
}

#column-1 {
    width: 750px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#column-2 {
    width: 400px;
    height: auto;
    min-height: 400px;
    overflow: hidden;
    background-color: yellow;
}

#container-form {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.register {
    width: 48%;
    border: 2px solid #c3c3c3;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px;
}

.form-register-title {
    width: 100%;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.form-register-title .icon {
    width: 14px;
}

.form-register-title .arrow {
    width: 10px;
}

.form-register-title p {
    font-size: 18px;
    font-weight: 500;
    width: 86%;
}

.form-register-title #title {
    font-size: 22px;
    font-weight: 500;
    width: 92%;
    display: flex;
    align-items: center;
}

#payment {
    height: 300px;
    border: 2px solid #c3c3c3;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.form-register-title #truck {
    width: 20px;
}

.form-register-title #wallet {
    width: 22px;
}


/***************/

.register-info input{
    border: none;
    background-color: transparent;
    font-size: 16px;
}

#data-info {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#delivery-info {
    height: 100px;
    display: flex;
    align-items: center;
}

#delivery-info table {
    width: 50px;
    background-color: green;
    border-color: black;
}

#payment-type {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#payment #buttons  {
    width: 200px;
    background-color: orchid;
}

#payment #description {
    width: 500px;
    background-color: orange;
}