header {
    width: 88%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}

#container-search {
    width: 84%;
}

#form-search {
    width: 56%;
}

#bar-search {
    width: 96%;
}

/*************************/

main {
    width: 88%;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#page-title {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#page-title h1 {
    font-size: 30px;
    font-weight: 500;
}

#container-form {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#form-register {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register {
    height: 46%;
    border: 2px solid #c3c3c3;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px;
}

.form-register-title {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.form-register-title .icon {
    width: 18px;
}

.form-register-title .arrow {
    width: 10px;
}

.form-register-title p {
    font-size: 20px;
    font-weight: 500;
    width: 88%;
}

#payment {
    width: 48%;
    border: 2px solid #c3c3c3;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-register-title #wallet,
.form-register-title #truck {
    width: 22px;
}


/***************/
#data-info {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.register-info input{
    border: none;
    background-color: transparent;
    font-size: 16px;
}

#delivery-info {
    height: 120px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
