header {
    width: 88%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}

#container-search {
    width: 84%;
}

#form-search {
    width: 56%;
}

#bar-search {
    width: 96%;
}

/*************************/

main {
    width: 88%;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#page-title {
    width: 88%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#page-title h1 {
    font-size: 30px;
    font-weight: 500;
}

#column-1 {
    width: 70%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#column-2 {
    width: 30%;
    height: auto;
    min-height: 400px;
    overflow: hidden;
}

#container-form {
    height: 180px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.register {
    border: 2px solid #c3c3c3;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px;
    /* background-color: #ffffff; */
}

#personal-data {
    width: 40%;
}

#address {
    width: 57%;
}

.form-register-title {
    width: 100%;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 8px;
}

.form-register-title .icon {
    width: 14px;
}

.form-register-title .arrow {
    width: 10px;
}

.form-register-title p {
    font-size: 18px;
    font-weight: 500;
    width: 86%;
}

.form-register-title #title {
    font-size: 22px;
    font-weight: 500;
    width: 92%;
    display: flex;
    align-items: center;
}

#payment {
    height: 300px;
    border: 2px solid #c3c3c3;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: #ffffff; */
}

.form-register-title #truck {
    width: 20px;
}

.form-register-title #wallet {
    width: 22px;
}


/***************/

.register-info input{
    border: none;
    background-color: transparent;
    font-size: 16px;
    /* height: 22px; */
    border-radius: 6px;
    padding-left: 3px;
    border: 1px solid #f1f1f1;
}

#data-info {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#delivery-info {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#payment-type {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#payment #buttons  {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#payment .description {
    width: 500px;
    height: 210px;
}

#payment .myCheckout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myCheckout {
    display: none;
}

#payment-type #buttons .options {
    padding: 12px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    border-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

#payment-type #buttons .options:hover, .selected {
    background-image: linear-gradient(to right, rgba(255, 215, 47, 1), rgba(255, 215, 47, 0));
    border: none;
}

#payment-type #buttons .options:hover .text, .selected .text {
    color: #343434;
}

#payment-type #buttons .options .text {
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

#payment-type #buttons .options img {
    width: 30px;
}

#payment-type #description-boleto .text {
    font-size: 18px;
    font-weight: 500;
}

#payment-type .description #total {
    width: 44%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#payment-type .description #total p {
    font-size: 20px;
    font-weight: 500;
}

#payment-type .description button {
    font-size: 22px;
    font-weight: 500;
    background-color: #FFD72F;
    border-radius: 8px;
    border-color: transparent;
    width: 44%;
    transition: 0.2s;
    cursor: pointer;
}

#payment-type .description button:hover {
    background-color: #343434;
}

#payment-type .description button:hover p{
    color: #FFD72F;
}

#payment-type .description button p{
    font-size: 22px;
    font-weight: 500;
}

#payment-type #description-cupom input {
    width: 48%;
    height: 50px;
    padding: 12px;
    border-radius: 8px;
    border-color: transparent;
    font-size: 16px;
}

#payment-type #description-cartao #creditcard-info,
#payment-type #description-cartao #card-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#payment-type #description-cartao #creditcard-info input {
    height: 40px;
    padding: 20px;
    border-radius: 8px;
    border-color: transparent;
    font-size: 16px;
}

#description-cartao #cartao {
    width: 190px;
}

#description-cartao #validade {
    width: 190px;
}

#description-cartao #cvv{
    width: 90px;
}

#payment-type #description-cartao #card-type .radio-option {
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#payment-type #description-cartao #card-type .radio-label {
    margin-left: 12px;
}

/******************/

#column-2 #resume {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

#column-2 #resume .resume-values {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#column-2 #resume .resume-values p {
    font-size: 18px;
    font-weight: 500;
}

#column-2 #resume .resume-values .main {
    font-size: 24px;
}

#values {
    align-items: flex-end;
}

#resume-products {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#division-line {
    height: 1px;
    width: 92%;
    border: 1px solid #cecece;
}

#products {
    width: 92%;
    height: auto;
    min-height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 20px;
    font-weight: 500;
}

.item {
    width: 100%;
    height: 76px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#products .item .preview {
    position: relative;
}

#products .item img {
    width: 100px;
    transition: 0.2s;
}

#products .item .delete {
    height: 16px;
    cursor: pointer;
    position: absolute;
    left: 36px;
    top: 6px;
    opacity: 0;
}

#products .item .preview img:hover .delete {
    opacity: 1;
}

#products .item .product-info {
    width: 66%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#products .item .product-info .name {
    font-weight: 500;
}

#products .item .product-info .quantity input {
    width: 40px;
    height: 22px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #c3c3c3;
    text-align: center;
    margin: 0 4px;
}

#products .item .product-info .quantity .measure {
    width: 10px;
}

#products .item .product-info .price {
    font-size: 16px;
    color: #777777;
}
