*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap');
html {
    font-family: 'Baloo Da 2', cursive;
    }

p, h1, h2, h3, a, li, input{
    font-family: 'Baloo Da 2', cursive;
}

li {
    list-style: none;
}
.center{
    margin-left: auto;
    margin-right: auto;
}

.container{
    width: 100wh;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    background-color: #f1f1f1;
}

input[type="search"]::-webkit-search-cancel-button {
    /*Removing default cancel button */
    -webkit-appearance: none;
    /*Creating a new one cancel button with SVG icon*/
    background-image: url(../assets/icons/times-solid.svg);
    background-repeat: no-repeat;
    height: 12px;
    width: 12px;
}