@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: 'Baloo Da 2', cursive;
}

p, h1, h2, h3, a, li, input{
    font-family: 'Baloo Da 2', cursive;
}

li {
    list-style: none;
}
.center{
    margin-left: auto;
    margin-right: auto;
}

.container{
    width: 100wh;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    background-color: #f1f1f1;
}

input[type="search"]::-webkit-search-cancel-button {
    /*Removing default cancel button */
    -webkit-appearance: none;
    /*Creating a new one cancel button with SVG icon*/
    background-image: url(../assets/icons/times-solid.svg);
    background-repeat: no-repeat;
    height: 12px;
    width: 12px;
}

#container-search{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#form-search{
    height: 35px;
    background-color: #ffffff;
    border-radius: 8px;
    border-style: none;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

#button-search,
#icon-search {
    width: 18px;
    height: 18px;
}

#button-search{
    border-style: none;
    background-color: #ffffff;
    
}

#bar-search {
    height: 35px;
    padding-left: 15px;
    background-color: #ffffff;
    border-style: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
}

#bar-search:-webkit-autofill{
    /* Changing input search autocomplete background color to white */
    -webkit-box-shadow: 0 0 0 30px #ffffff inset;
    /* -webkit-text-fill-color: #343434 !important; */
}

#anchor-login{
    text-decoration: none; 
    font-weight: 500;
    font-size: 18px;
    transition: 0.2s;
}

#anchor-login:hover{
    color: #777;
}

#container-icons{
    width: 85px;
    display: flex;
    justify-content: space-between;
}

.button-icons{
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.button-icons:hover{
    background-color: #333333;
}

#icon-wishlist,
#icon-shopping{
    width: 20px;
}

/**** CARDS PRODUTOS ****/

.cards-page{
    align-items: center;
    min-height: 450px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hover-position{
    overflow: hidden;
    height: 300px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    position: relative;
}

.card a {
    width: inherit;
    height: 220px;
    display: flex;
    justify-content: center;
}

.card a img{
    width: inherit;
    height: auto;
}

.card-info {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-info .title{
    font-weight: 500;
    font-size: 18px;
}

.card-info .price{
    font-weight: 500;
    font-size: 22px;
}

.card-hover{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    z-index: 10;
    position: absolute;
    display: none;
    animation: anim 1.5s forwards;
}

.card-hover #text-hover{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    margin-bottom: 4px;
    cursor: pointer;
}

.card-hover #container-icons{
    margin-top: 10px;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
}

.card-hover #container-icons a{
    width: auto;
    padding: 0 10px;
    height: 35px;
    text-decoration: none;
}

.card-hover #container-icons p{
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;  
    color: #FFD72F;
}

.card:hover .card-hover{
    display: flex;
}

@keyframes anim{
    0%{
        bottom: -200px;
    }
    100%{
        bottom: 0;
    }
}

.slide-buttons {
    text-align: center!important;
    font-size: 18px!important;
}

.button-slide:hover {
    background-color: #000000;
}

.button-slide {
    display: inline-block;
    text-align: center;
    height: 10px;
    width: 10px;
    padding: 0;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-arrow {
    cursor: pointer;
}
