#menu-index{
    width: 80%;
    height: 45px;
    margin-top: 40px;
    background-color: #FFD72F;
    position: relative;
}

#logo{ 
    width: 72px;
    height: 72px;
    position: absolute;
    background: url('../assets/icons/logo.svg') no-repeat;
    z-index: 1;
    background-size: contain;
    margin-top: -10px;
    margin-left: -30px;
}

#menu-items{
    width: 85%;
    height: inherit;
}

#menu-items ul{
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-items ul a{
    font-style: none;
    text-decoration: none;
}

#menu-items ul a:hover{
    border-bottom: #777 solid 3px;
}

#menu-items ul li{
    width: 80px;
    height: 26px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

main{
    width: 100%;
    height: auto;   
    min-height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-search{
    width: 68%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#form-search{
    width: 56%;
    height: 35px;
    background-color: #ffffff;
    border-radius: 8px;
    border-style: none;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

#button-search,
#icon-search {
    width: 18px;
    height: 18px;
}

#button-search{
    border-style: none;
    background-color: #ffffff;
    
}
#bar-search{
    width: 94%;
    height: 35px;
    padding-left: 15px;
    background-color: #ffffff;
    border-style: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
}

#bar-search:-webkit-autofill{
    /* Changing input search autocomplete background color to white */
    -webkit-box-shadow: 0 0 0 30px #ffffff inset;
    /* -webkit-text-fill-color: #343434 !important; */
}

#anchor-login{
    text-decoration: none; 
    font-weight: 500;
    font-size: 18px;
    transition: 0.2s;
}

#anchor-login:hover{
    color: #777;
}

#container-icons{
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.button-icons{
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.button-icons:hover{
    background-color: #000000;
}

#icon-wishlist,
#icon-shopping{
    width: 20px;
}



/**********Section Lançamentos**********/

.slider-container{
    width: 100vw;
    height: auto;
    overflow: hidden;
    min-height: 380px;
    margin-top: 30px;
}

#slider-images{
    width: 100%;
    height: auto;
    overflow: clip;
}

.slide-buttons {
    position: relative;
    bottom: 50px;
    text-align: center!important;
    font-size: 18px!important;
}

.button-slide:hover {
    background-color: #000000;
}

.selected{
    background-color:#000!important;
}

.button-slide {
    background-color: #F6EBBB;
    display: inline-block;
    text-align: center;
    height: 10px;
    width: 10px;
    padding: 0;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.mySlides {
    display:none;
}

/**********Section Mais Vendidos**********/

#section-bestsellers {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 85%;
    height: auto;
    overflow: hidden;
    min-height: 380px;
}

#section-bestsellers .icon-arrow,
#section-collections .icon-arrow {
    cursor: pointer;
}

#title-bestsellers, #title-collections {
    font-size: 34px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

#slider-bestsellers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-page{
    align-items: center;
    min-height: 450px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hover-position{
    margin: 10px auto;
    overflow: hidden;
    height: 300px;

}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    position: relative;
}

.card a {
    width: inherit;
    height: 220px;
    display: flex;
    justify-content: center;
}

.card a img{
    width: inherit;
    height: auto;
}

.card-info {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-info .title{
    font-weight: 500;
    font-size: 18px;
}

.card-info .price{
    font-weight: 500;
    font-size: 22px;
}

.card-hover{
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    z-index: 10;
    position: absolute;
    display: none;
    animation: anim 2s forwards;
}

.card-hover p{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color:#343434;
}

.card-hover #container-icons{
    margin: 20px 20px 30px 0;
    width: 90px;
    align-self: flex-end;
    height: 35px;
}

.card-hover #container-icons a{
    width: 35px;
    height: 35px;
}

.card:hover .card-hover{
    display: flex;
}

@keyframes anim{
    0%{
        bottom: -200px;
    }
    100%{
        bottom: 0;
    }
}

.myCards {
    display:none;
}


/**********Section Coleções**********/

#section-collections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: auto;
    overflow: hidden;
    min-height: 380px;
}

#slider-collections {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.collections {
    width: 85%;
    height: 450px;
    display: flex;
    justify-content: space-between;
}

.collection-column-1 {
    width: 70%;
    height: 100%;
}

.image-collection {
    width: 100%;
    height: 85%;
}

.image-collection img {
    width: 100%;
    height: 100%;
}

.caption-collection {
    width: 100%;
    height: 12%;
    margin-top: 3%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: space-around;
}

.icon-collection {
    width: 30px;
}

.productname-collection {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productname-collection p {
    font-size: 24px;
    font-weight: 500;
}

.collection-column-2 {
    width: 27%;
    height: 72%;
    align-self: flex-end;
    background-color: #343434;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.firstname-collection,
.secondname-collection {
    font-size: 48px;
    font-weight: 700;
    color: #C53838;
}

.description-collection {
    width: 90%;
    height: 20%;
    margin-bottom: 30px;
    background-color: aqua;
}

.description-collection p {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}