#menu-index{
    width: 80%;
    height: 45px;
    margin-top: 40px;
    background-color: #FFD72F;
    position: relative;
}

#logo{ 
    width: 72px;
    height: 72px;
    position: absolute;
    background: url('../assets/icons/logo.svg') no-repeat;
    z-index: 1;
    background-size: contain;
    margin-top: -10px;
    margin-left: -30px;
}

#menu-items{
    width: 85%;
    height: inherit;
}

#menu-items ul{
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-items ul a{
    font-style: none;
    text-decoration: none;
}

#menu-items ul a:hover{
    border-bottom: #777 solid 3px;
}

#menu-items ul li{
    width: 80px;
    height: 26px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

main{
    width: 100%;
    height: auto;   
    min-height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-search{
    width: 68%;
}

#form-search{
    width: 56%;
}

#bar-search {
    width: 95%;
}

/************************************************* Section Lançamentos *************************************************/

.slider-container{
    width: 100vw;
    height: auto;
    overflow: hidden;
    min-height: 380px;
    margin-top: 30px;
}

#slider-images{
    width: 100%;
    height: auto;
    overflow: clip;
}

.slide-buttons {
    position: relative;
    bottom: 50px;
}

.button-slide {
    background-color: #F6EBBB;
}

.selected{
    background-color:#000!important;
}

.mySlides {
    display:none;
}

/************************************************ Section Mais Vendidos************************************************/

#section-bestsellers {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 85%;
    height: auto;
    overflow: hidden;
    min-height: 380px;
}

#title-bestsellers,
#title-collections {
    font-size: 34px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

#slider-bestsellers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hover-position{
    margin: 10px auto;
}

.myCards {
    display: none;
}


/************************************************* Section Coleções **************************************************/

#section-collections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: auto;
    overflow: hidden;
    min-height: 380px;
}

#slider-collections {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.collections {
    width: 85%;
    height: 450px;
    display: flex;
    justify-content: space-between;
}

.collection-column-1 {
    width: 70%;
    height: 100%;
}

.image-collection {
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-collection img {
    width: auto;
    height: 100%;
}

.caption-collection {
    width: 100%;
    height: 12%;
    margin-top: 3%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: space-around;
}

.icon-collection {
    width: 30px;
}

.productname-collection {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productname-collection p {
    font-size: 24px;
    font-weight: 500;
}

.collection-column-2 {
    width: 27%;
    height: 72%;
    align-self: flex-end;
    background-color: #343434;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.container-title-collection {
    width: 80%;   
}

.name-collection {
    font-family: 'Baloo Da 2', cursive;
    font-weight: 700;
    color: #C53838;
    height: 50px;
}

.name-collection.tv {
    color: #FFD72F;
}

#firstname-collection {
    display: flex;
    justify-content: flex-start;
    font-size: 44px;
}

#secondname-collection {
    display: flex;
    justify-content: flex-end;
    font-size: 44px;
}

.description-collection {
    width: 84%;
    height: 20%;
}

.description-collection p {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

.myCollection {
    display: none;
}

/************************************************* Footer **************************************************/

footer {
    margin-top: 100px;
    margin-bottom: 30px;
    height: 30px;
    width: 100wh;
    color: black;
}

footer a {
    text-decoration: none;
    color: #343434;
    height: 15px;
}

footer a:hover {
    border-bottom: #FFD72F solid 2px;
}