.amarelo { color: #FEEE00; }

.laranja-escuro { color: #E9BC00; }

.laranja-claro { color: #FFD72F; }

.branco { color: #FFFFFF; }

.cinza-background { color: #F9F9F9; }

.cinza-claro { color: #EAEAEA; }

.cinza-medio { color: #777777; }

.cinza-escuro { color: #343434; }

.preto { color: #000000; }