body {
    display: flex;
}
.container-filters{
    width: 15%;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    background-color: green;
    justify-self: start;
}

.container-results{
    width: 88%;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    background-color: #f1f1f1;
}

.container-intern {
    width: 86%;
    height: 100vh;
    background-color: purple;
}

#container-search{
    width: 100%;
}

#form-search{
    width: 68%;
}
