body {
    display: flex;
}
.container-filters{
    width: 15%;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    background-color: #ffffff;
    justify-self: start;
}

.container-results{
    width: 88%;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    background-color: #f1f1f1;
}

.container-intern {
    width: 86%;
    height: 100vh;
}

#container-search{
    width: 100%;
}

#form-search,
.delivery-ordination {
    width: 68%;
}

#bar-search {
    width: 96%;
}

.delivery-ordination {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivery, .ordination {
    width: 44%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-delivery span {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    line-height: 24px;
}

.find-cep {
    font-size: 14px;
    font-weight: 400;
    color: #343434;
    line-height: 19px;
}

.form-cep {
    width: 50%;
}

.type-cep,
.select-ordination {
    background-color: #FFD72F;
    border-radius: 8px;
    border: #FFD72F;
    height: 30px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 15px;
    color: #000;
}

.type-cep::placeholder {
    color: #343434;
}

.type-cep:-webkit-autofill{
    /* Changing input search autocomplete background color to yellow */
    -webkit-box-shadow: 0 0 0 30px #FFD72F inset;
}

.form-ordination {
    width: 60%;
    cursor: pointer;
    background-color: #FFD72F;
    border-radius: 8px;
}

.ordination span {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.select-ordination {
    cursor: pointer;
    width: 96%;
    font-family: 'Baloo Da 2', cursive;
    line-height: 20px;
}

.select-ordination option {
    background-color: #ffffff;
}

.select-ordination[selected="selected"] {
    font-size: 500;
}

