body {
    display: flex;
}

.container-results{
    width: 88%;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    background-color: #f1f1f1;
}

.container-intern {
    width: 86%;
}

#container-search{
    width: 100%;
}

#form-search,
.delivery-ordination {
    width: 56%;
}

#bar-search {
    width: 96%;
}

.delivery-ordination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.delivery,
.ordination {
    width: 44%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-delivery span {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 20px;
}

.find-cep {
    font-size: 12px;
    font-weight: 400;
    color: #343434;
    line-height: 16px;
}

.form-cep {
    width: 50%;
}

.type-cep { 
    width: 100%
} 

.type-cep,
.select-ordination {
    background-color: #FFD72F;
    border-radius: 8px;
    border: #FFD72F;
    height: 30px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 15px;
    color: #000;
}

.type-cep::placeholder {
    color: #343434;
}

.type-cep:-webkit-autofill{
    /* Changing input search autocomplete background color to yellow */
    -webkit-box-shadow: 0 0 0 30px #FFD72F inset;
}

.form-ordination {
    width: 60%;
    cursor: pointer;
    background-color: #FFD72F;
    border-radius: 8px;
}

.ordination span {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.select-ordination {
    cursor: pointer;
    width: 96%;
    font-family: 'Baloo Da 2', cursive;
    line-height: 20px;
}

.select-ordination option {
    background-color: #ffffff;
}

.select-ordination[selected="selected"] {
    font-size: 500;
}


/***************/

.results {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.results-navigation {
    width: 100%;
    height: 22px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.icon-arrow {
    height: 18px;
}

.slide-buttons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28%;   
}

.button-slide {
    background-color: #b3b3b3;
}

.selected{
    background-color:#e9bc00!important;
}

/************ aside ************/

.container-filters{
    width: 15%;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    background-color: #ffffff;
    justify-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.logo {
    width: 70%;
    height: 12%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}

.filters {
    width: 86%;
    height: auto;
    min-height: 500px;
    overflow: hidden;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.total-results {
    width: 96%;
}

.filter-title {
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    margin-bottom: 10px;
}

.division-line {
    height: 2px;
    width: 100%;
    background-color: #EAEAEA;
}

.budget, .categories, .collections {
    margin-top: 6px;
    width: 96%;
    height: 140px;
    height: auto;
    overflow: hidden;
    min-height: 80px;
}

.budget-form {
    display: flex;
    justify-content: space-between;
}

.budget-price {
    background-color: #FFD72F;
    border-radius: 8px;
    border: #FFD72F;
    width: 46%;
    height: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}

.budget-price::placeholder {
    color: #343434;
}

#checkboxes-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    clear: both;
    margin-bottom: 10px;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-product-custom {
    height: 30px;
    width: 80px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-label:hover .checkbox-product-custom,
.checkbox-label input:checked ~ .checkbox-product-custom {
    background-color: #FFD72F;
    border: 1px solid #FFD72F;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

.checkbox-label .name-option {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.checkbox-label .name {
    font-size: 14px;
    font-weight: 400;
    margin-left: 28px;
    text-align: start;
    height: 18px;
    display: flex;
    align-items: center;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 16px;
    width: 16px;
    background-color: #FFD72F;
    border-radius: 2px;
    border: 2px solid #FFD72F;
}

.checkbox-label .checkbox-checked {
    position: absolute;
    top: 4px;
    left: 4px;
    height: 8px;
    width: 8px;
    background-color: #343434;
    border-radius: 2px;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    border: 2px solid #343434;
    opacity: 0;
}


.checkbox-label:hover .checkbox-custom {
    background-color: #343434;
    border: 4px solid #FFD72F;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

.checkbox-label:hover input:checked ~ .checkbox-custom {
    background-color: #FFD72F;
    border: 2px solid #FFD72F;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}

.checkbox-label input:checked ~ .checkbox-checked {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
}
