<!DOCTYPE html>
<html lang="pt-br">
    <link rel="shortcut icon" href="../../public/assets/icons/coin.ico">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geek Coins - Pagamento</title>

    <link href="../../public/css/global.css" rel="stylesheet"/>
    <link href="../../public/css/checkout.css" rel="stylesheet"/>
    <link href="../../public/css/palette.css" rel="stylesheet"/>

</head>
<body>
    
    <div class="container center">

        <header class="center">
            <a href="index.html" class="logo">
                <img src="../../public/assets/icons/logo-horizontal.svg" alt="Logotipo Geek Coins">
            </a>

            <div id="container-search">
                <form role="search" id="form-search" action="/src/repositories/products/searchProducts.php" method="GET">
                    <button type="submit" id="button-search"><img src="../../public/assets/icons/search-solid.svg" alt="ícone de lupa" id="icon-search"></button>
                    <input type="search" incremental="incremental" name="search" id="bar-search" placeholder="Pesquisar...">                        
                </form>
            
                <a href="#" id="anchor-login" class="cinza-escuro">Entre ou cadastre-se</a>
                
                <div id="container-icons">
                    <a href="#" class="button-icons">
                        <img src="../../public/assets/icons/favoritos.svg" alt="ícone de coração" id="icon-wishlist">
                    </a>
                    <a href="#" class="button-icons">
                        <img src="../../public/assets/icons/sacola.svg" alt="ícone de sacola de compras" id="icon-shopping">
                    </a>
                </div>                        
            </div>
        </header>

        <div id="page-title" class="center">
            <h1 class="cinza-escuro">Finalizar compra</h1>
        </div>

        <main class="center">
            
            <div id="column-1">
                <div id="container-form">
                    <div id="personal-data" class="register">
                        <div class="form-register-title">
                            <img class="icon" src="../../public/assets/icons/pessoa.svg" alt="ícone de usuário">
                            <p class="cinza-medio">Dados Pessoais</p>
                            <img class="arrow" src="../../public/assets/icons/angle-up-solid.svg" alt="Recolher">
                        </div>
                        <form id="data-info" class="register-info" action="" method="POST">
                            <label for="nome">
                                <input type="name" name="nome" size="30" placeholder="Seu nome completo">
                            </label>

                            <label for="email">
                                <input type="email" name="email" placeholder="nome@mail.com">
                            </label>
                                
                            <label for="telefone">
                                <input type="text" name="telefone" placeholder="(XX) 0000-0000">
                            </label>
                        </form>
                    </div>
                    
                    <div id="address" class="register">
                        <div class="form-register-title">
                            <img id="truck" src="../../public/assets/icons/entrega.svg" alt="ícone de caminhão">
                            <p class="cinza-medio">Entrega</p>
                            <img class="arrow" src="../../public/assets/icons/angle-up-solid.svg" alt="Recolher">
                        </div>

                        <form id="delivery-info" class="register-info" action="" method="POST">
                            <table border="1">
                                <tr>
                                    <td width="33%">
                                        <label for="logradouro">
                                            <input type="text" name="logradouro" placeholder="Rua">
                                        </label>
                                    </td>
                                    <td width="33%">
                                        <label for="numero">
                                            <input type="text" name="numero" placeholder="Número">
                                        </label>
                                    </td>
                                    <td width="33%">
                                        <label for="complemento">
                                            <input type="text" name="complemento" placeholder="Complemento">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="33%">
                                        <label for="bairro">
                                            <input type="text" name="bairro" placeholder="Bairro">
                                        </label>
                                    </td>
                                    <td width="33%">
                                        <label for="cidade">
                                            <input type="text" name="cidade" placeholder="Cidade">
                                        </label>
                                    </td>
                                    <td width="33%">
                                        <label for="estado">
                                            <input type="text" name="estado" placeholder="Estado">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <label for="cep">
                                            <input type="text" name="cep" placeholder="CEP">
                                        </label>
                                    </td>
                                </tr>
                            </table>                   
                        </form>
                    </div>
                </div>

                <div id="payment">
                    <div class="form-register-title">
                        <img id="wallet" src="../../public/assets/icons/carteira-amarela.svg" alt="ícone de carteira">
                        <p id="title" class="cinza-escuro">Pagamento</p>
                        <img class="arrow" src="../../public/assets/icons/angle-up-solid.svg" alt="Recolher">
                    </div>

                    <div id="payment-type">
                        <div id="buttons">
                            <button id="boleto" class="options" onclick="currentDiv(1)">
                                <img src="../../public/assets/icons/boleto.svg" alt="Pagar com boleto">
                                <p class="text cinza-medio">Boleto</p>
                            </button>
                            <button class="options" onclick="currentDiv(2)">
                                <img src="../../public/assets/icons/cartao.svg" alt="Pagar com boleto">
                                <p class="text cinza-medio">Cartão</p>
                            </button>
                            <button class="options" onclick="currentDiv(3)">
                                <img src="../../public/assets/icons/dinheiro-geek.svg" alt="Pagar com boleto">
                                <p class="text cinza-medio">Cupom</p>
                            </button>
                        </div>

                        <div class="description">
                            <div id="description-boleto" class="myCheckout">
                                <p class="text cinza-medio">O boleto bancário será enviado por e-mail 
                                    após a confirmação da compra, e poderá ser 
                                    pago em qualquer banco até a data de vencimento.
                                </p>
    
                                <div id="total">
                                    <p class="cinza-escuro">valor total:</p>
                                    <p class="laranja-escuro">R$ 93,78</p>
                                </div>
    
                                <button>
                                    <p>Finalizar compra</p>
                                </button>
                            </div>
                            
                            <div id="description-cartao" class="myCheckout">
                                <div id="creditcard-info">
                                    <input type="number" size= "4" placeholder="Agência">
                                    <input type="number" size= "10" placeholder="Conta">
                                    <input type="number" size="1" placeholder="Dígito">    
                                </div>
                                
                                <div id="card-type">
                                    <div class="radio-option">
                                        <input type="radio" id="credit" name="card-type" value="credit">
                                        <label class="radio-label" for="credit">Cartão de crédito</label>   
                                    </div>
                                    
                                    <div class="radio-option">
                                        <input type="radio" id="debit" name="card-type" value="debit">
                                        <label class="radio-label" for="debit">Cartão de débito</label>
                                    </div>
                                </div>

                                <div id="total">
                                    <p class="cinza-escuro">valor total:</p>
                                    <p class="laranja-escuro">R$ 93,78</p>
                                </div>
    
                                <button>
                                    <p>Finalizar compra</p>
                                </button>
                            </div>

                            <div id="description-cupom" class="myCheckout">
                                <input type="text" placeholder="Digite o código do cupom">

                                <p class="text cinza-medio">Cada cupom pode ser usado apenas uma única vez por CPF.
                                </p>
                                
                                <div id="total">
                                    <p class="cinza-escuro">desconto:</p>
                                    <p class="laranja-escuro">R$ 10,00</p>
                                </div>
    
                                <button>
                                    <p>Finalizar compra</p>
                                </button>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>

            <div id="column-2">
                <div id="resume">
                    <div id="values" class="resume-values">
                        <p class="cinza-medio">subtotal</p>
                        <p class="cinza-medio">frete</p>
                        <p class="cinza-medio">descontos</p>
                        <p class="cinza-escuro main">total</p>
                    </div>
                    <div id="prices" class="resume-values">
                        <p class="cinza-medio">R$ 76,99</p>
                        <p class="cinza-medio">R$ 16,79</p>
                        <p class="cinza-medio">R$ 0,00</p>
                        <p class="laranja-escuro main">R$ 93,78</p>
                    </div>
                </div>
                
                
            </div>
                        
        </main>

    </div>

    <!--SCRIPTS JS-->
    <script src="../../public/scripts/checkout.js"></script>
</body>
</html>