<!DOCTYPE html>
<html lang="pt-br">
    <link rel="shortcut icon" href="../../public/assets/icons/coin.ico">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Geek Coins - Home</title>

        <link href="../../public/css/global.css" rel="stylesheet"/>
        <link href="../../public/css/index.css" rel="stylesheet"/>
        <link href="../../public/css/palette.css" rel="stylesheet"/>

    </head>
    
    <body>

        <div class="container center">
            
            <header id="menu-index" class="center">
                <div id="logo">

                </div>
                <nav id="menu-items" class="center">  
                    <ul>
                        <a href="#"><li class="preto">Temas</li></a>
                        <a href="#"><li class="preto">Canecas</li></a>
                        <a href="#"><li class="preto">Quadros</li></a> 
                        <a href="#"><li class="preto">Camisetas</li></a> 
                        <a href="#"><li class="preto">Mousepads</li></a> 
                        <a href="#"><li class="preto">Capinhas</li></a> 
                        <a href="#"><li class="preto">Coleções</li></a>  
                    </ul>
                </nav>
            </header>

            <main>
                
                <div id="container-search" class="center">
                    <form id="form-search" action="/src/repositories/products/searchProducts.php" method="GET">
                        <button type="submit" id="button-search"><img src="../../public/assets/icons/search-solid.svg" alt="" id="icon-search"></button>
                        <input type="search" name="search" id="bar-search" placeholder="Pesquisar...">                        
                    </form>
                
                    <a href="#" id="anchor-login" class="cinza-escuro">Entre ou cadastre-se</a>
                    
                    <div id="container-icons">
                        <a href="#" class="button-icons">
                            <img src="../../public/assets/icons/favoritos.svg" alt="" id="icon-wishlist">
                        </a>
                        <a href="#" class="button-icons">
                            <img src="../../public/assets/icons/sacola.svg" alt="" id="icon-shopping">
                        </a>
                    </div>                        
                </div>

                
                <section id="section-releases">
                   
                    <div class="slider-container">
                        <div id="slider-images">
                            <a href="#">
                                <img class="mySlides" src="../../public/assets/images/banner-camiseta-akira.png" width="100%">
                            </a>
                            <a href="#">
                                <img class="mySlides" src="../../public/assets/images/banner-caneca-akira.png" width="100%">
                            </a>
                            <a href="#">
                                <img class="mySlides" src="../../public/assets/images/banner-mousepad-akira.png" width="100%">
                            </a>
                        </div>

                        <div class="slide-buttons" style="width:100%">
                          <span class="button-slide demo" onclick="currentDiv(1)"></span>
                          <span class="button-slide demo" onclick="currentDiv(2)"></span>
                          <span class="button-slide demo" onclick="currentDiv(3)"></span>
                        </div>

                      </div>
                </section>

                <section id="section-bestsellers">

                    <h1 id="title-bestsellers" class="cinza-escuro">MAIS VENDIDOS</h1>
                    
                    <div id="slider-bestsellers">

                        <img class="icon-arrow" src="../../public/assets/icons/voltar-slider.svg" alt="Voltar" onclick="plusCards(-1)">


                        <div class="cards-page myCards">
                            <div class="hover-position">
                                <div class="card">
                                    <a href="#">
                                        <img src="../../public/assets/images/caneca-itachi.png">
                                    </a>
                                    <div class="card-info">
                                        <p class="title cinza-escuro">Caneca Itachi - Coleção Naruto</p>
                                        <p class="price laranja-escuro">R$33,99</p>
                                    </div>

                                    <div class="card-hover">
                                        <div id="text-hover">
                                            <p>frete grátis!</p>
                                            <p>entrega em 03 dias úteis</p>
                                        </div>  
                                        <div id="container-icons">
                                            <a href="#" class="button-icons">
                                                <img src="../../public/assets/icons/favoritos.svg" alt="" id="icon-wishlist">
                                                <p>Salvar</p>
                                            </a>
                                            <a href="#" class="button-icons">
                                                <img src="../../public/assets/icons/sacola.svg" alt="" id="icon-shopping">
                                                <p>Adicionar</p>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                            </div>

                            <div class="hover-position">
                                <div class="card">
                                    <a href="#">
                                        <img src="../../public/assets/images/mousepad-league-of-legends.png">
                                    </a>
                                    <div class="card-info">
                                        <p class="title cinza-escuro">Mousepad League of Legends</p>
                                        <p class="price laranja-escuro">R$40,00</p>
                                    </div>

                                    <div class="card-hover">   
                                        <div id="text-hover">
                                            <p>frete de R$ 9,42</p>
                                            <p>entrega em 03 dias úteis</p>
                                        </div>  

                                        <div id="container-icons">
                                            <a href="#" class="button-icons">
                                                <img src="../../public/assets/icons/favoritos.svg" alt="" id="icon-wishlist">
                                                <p>Salvar</p>
                                            </a>
                                            <a href="#" class="button-icons">
                                                <img src="../../public/assets/icons/sacola.svg" alt="" id="icon-shopping">
                                                <p>Adicionar</p>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                            </div>

                            <div class="hover-position">
                                <div class="card">
                                    <a href="#">
                                        <img src="../../public/assets/images/caneca-clash-royale.png">
                                    </a>
                                    <div class="card-info">
                                        <p class="title cinza-escuro">Caneca Clash Royale</p>
                                        <p class="price laranja-escuro">R$34,99</p>
                                    </div>

                                    <div class="card-hover"> 
                                        <div id="text-hover">
                                            <p>frete de R$ 12,56</p>
                                            <p>entrega em 03 dias úteis</p>
                                        </div>  
                                        <div id="container-icons">
                                            <a href="#" class="button-icons">
                                                <img src="../../public/assets/icons/favoritos.svg" alt="" id="icon-wishlist">
                                                <p>Salvar</p>
                                            </a>
                                            <a href="#" class="button-icons">
                                                <img src="../../public/assets/icons/sacola.svg" alt="" id="icon-shopping">
                                                <p>Adicionar</p>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="cards-page myCards">
                            <div class="hover-position">
                                <div class="card">
                                    <a href="#">
                                        <img src="../../public/assets/images/caneca-bleach.png">
                                    </a>
                                    <div class="card-info">
                                        <p class="title cinza-escuro">Caneca Ichigo - Coleção Bleach</p>
                                        <p class="price laranja-escuro">R$36,99</p>
                                    </div>

                                    <div class="card-hover">
                                        <div id="text-hover">
                                            <p>frete de R$ 13,42</p>
                                            <p>entrega em 03 dias úteis</p>
                                        </div>  
                                        <div id="container-icons">
                                            <a href="#" class="button-icons">
                                                <img src="../../public/assets/icons/favoritos.svg" alt="" id="icon-wishlist">
                                                <p>Salvar</p>
                                            </a>
                                            <a href="#" class="button-icons">
                                                <img src="../../public/assets/icons/sacola.svg" alt="" id="icon-shopping">
                                                <p>Adicionar</p>
                                            </a>
                                        </div> 
                                    </div>
                                    
                                </div>
                            </div>


                            <div class="hover-position">
                                <div class="card">
                                    <a href="#">
                                        <img src="../../public/assets/images/caneca-mario-world.png">
                                    </a>
                                    <div class="card-info">
                                        <p class="title cinza-escuro">Caneca Mario World</p>
                                        <p class="price laranja-escuro">R$37,99</p>
                                    </div>

                                    <div class="card-hover">
                                        <div id="text-hover">
                                            <p>frete de R$ 12,42</p>
                                            <p>entrega em 03 dias úteis</p>
                                        </div>
                                        <div id="container-icons">
                                            <a href="#" class="button-icons">
                                                <img src="../../public/assets/icons/favoritos.svg" alt="" id="icon-wishlist">
                                                <p>Salvar</p>
                                            </a>
                                            <a href="#" class="button-icons">
                                                <img src="../../public/assets/icons/sacola.svg" alt="" id="icon-shopping">
                                                <p>Adicionar</p>
                                            </a>
                                        </div>   
                                    </div>
                                </div>
                            </div>


                            <div class="hover-position">
                                <div class="card">
                                    <a href="#">
                                        <img src="../../public/assets/images/caneca-league-of-legends.png">
                                    </a>
                                    <div class="card-info">
                                        <p class="title cinza-escuro">Caneca League Of Legends</p>
                                        <p class="price laranja-escuro">R$32,99</p>
                                    </div>

                                    <div class="card-hover">
                                        <div id="text-hover">
                                            <p>frete grátis</p>
                                            <p>entrega em 03 dias úteis</p>
                                        </div> 
                                        <div id="container-icons">
                                            <a href="#" class="button-icons">
                                                <img src="../../public/assets/icons/favoritos.svg" alt="" id="icon-wishlist">
                                                <p>Salvar</p>
                                            </a>
                                            <a href="#" class="button-icons">
                                                <img src="../../public/assets/icons/sacola.svg" alt="" id="icon-shopping">
                                                <p>Adicionar</p>
                                            </a>
                                        </div>  
                                    </div>

                                </div>
                            </div>
                                    
                        </div>

                        <img class="icon-arrow" src="../../public/assets/icons/ir-slider.svg" alt="avancar" onclick="plusCards(+1)">

                    </div>
                         
                </section>

                <section id="section-collections">
                    <h1 id="title-collections" class="cinza-escuro">COLEÇÕES</h1>
                    
                    <div id="slider-collections">
                        <img class="icon-arrow" src="../../public/assets/icons/voltar-slider.svg" alt="">

                        <div class="collections">
                            <div class="collection-column-1">
                                <div class="image-collection">
                                    <img src="../../public/assets/images/caneca-berseker.png" alt="Ilustração do anime Berserk">
                                </div>
                                <div class="caption-collection">
                                    <img class="icon-collection" src="../../public/assets/icons/caneca.svg" alt="Ícone de caneca" title="Ver coleção">
                                    <div  class="productname-collection">
                                        <p>Caneca Berserk</p>
                                    </div>                                    
                                    <img class="icon-collection" src="../../public/assets/icons/carteira.svg" alt="Ícone de carteira" title="Ir para o produto">
                                </div>
                            </div>
                            <div class="collection-column-2">   
                                <h1 class="firstname-collection">Blood <span class="secondname-collection">Label</span></h1>
                                <div class="description-collection">
                                    <p>Coleção inspirada no que tem de mais sangrento...</p>
                                </div>
                            </div>
                        </div>

                        <img class="icon-arrow" src="../../public/assets/icons/ir-slider.svg" alt="" onclick="plusCards(+1)">
                    </div>
                </section>

                <footer> Todos os direitos reservados - <a href="#">GeekCoins</a> 2020</footer>
            </main>
            
        </div> 

        <!--SCRIPTS JS-->
        <script src="../../public/scripts/index.js"></script>
    
    </body>

</html>