<!DOCTYPE html>
<html lang="pt-br">
    <link rel="shortcut icon" href="../../public/assets/icons/coin.ico">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Geek Coins - Home</title>
        <link href="../../public/css/global.css" rel="stylesheet"/>
        <link href="../../public/css/index.css" rel="stylesheet"/>
    </head>
    
    <body>

        <div class="container center">
            
            <header id="menu-index" class="center">
                <div id="logo">

                </div>
                <nav id="menu-items" class="center">  
                    <ul>
                        <a href="#"><li>Temas</li></a>
                        <a href="#"><li>Canecas</li></a>
                        <a href="#"><li>Quadros</li></a> 
                        <a href="#"><li>Camisetas</li></a> 
                        <a href="#"><li>Mousepads</li></a> 
                        <a href="#"><li>Capinhas</li></a> 
                        <a href="#"><li>Coleções</li></a> 
                        <a href="#"><li>Sobre nós</li></a> 
                    </ul>
                </nav>
            </header>

            <main>
                
                <div id="container-search" class="center">
                    <form role="search" id="form-search" action="/src/repositories/products/searchProducts.php" method="GET">
                        <button type="submit" id="button-search"><img src="../../public/assets/icons/search-solid.svg" alt="" id="icon-search"></button>
                        <input type="search" incremental="incremental" name="search" id="bar-search" placeholder="Pesquisar..." aria-label="Pesquisar produtos pelo site">                        
                    </form>
                
                    <a href="#" id="anchor-login">Entre ou cadastre-se</a>
                    
                    <div id="container-icons">
                        <a href="#" class="button-icons" title="Ir para sua Lista de Favoritos">
                            <img src="../../public/assets/icons/favoritos.svg" alt="Ícone de coração" title="Ir para sua Lista de Favoritos" id="icon-wishlist">
                        </a>
                        <a href="#" class="button-icons" title="Ir para o Carrinho de Compras">
                            <img src="../../public/assets/icons/sacola.svg" alt="Ícone de sacola de compras" title="Ir para o Carrinho de Compras" id="icon-shopping">
                        </a>
                    </div>                        
                </div>

                <section id="section-releases">
                    <h1 class="center" id="title-release">Lançamentos</h1>
                    
                    <div id="container-release">
                        <input type="radio" class="slide-controller" name="slide" checked />
                        <input type="radio" class="slide-controller" name="slide" />
                        <input type="radio" class="slide-controller" name="slide" />
                        
                        <ul id="slider-list">
                            <li class="slide">
                                <a href="#">
                                    <img src="../../public/assets/images/camisa-akira-luana.png" alt="Camiseta branca com estampa personalizada do Akira" title="Coleção Você em Akira">
                                </a>
                            </li>
                            <li class="slide">
                                <a href="#">
                                    <img src="../../public/assets/images/caneca-akira-luana.png" alt="Caneca com estampa personalizada do Akira" title="Coleção Você em Akira">
                                </a>
                            </li>
                            <li class="slide">
                                <a href="#">
                                    <img src="../../public/assets/images/mousepad-akira-luana.png" alt="Mousepad com estampa personalizada do Akira" title="Coleção Você em Akira">
                                </a>
                            </li>
                        </ul>
                    </div>

                </section>

            </main>
            

            
        </div>

        

    </body>

</html>