<!DOCTYPE html>
<html lang="pt-br">
    <link rel="shortcut icon" href="../../public/assets/icons/coin.ico">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Geek Coins - Home</title>
        <link href="../../public/css/global.css" rel="stylesheet"/>
        <link href="../../public/css/index.css" rel="stylesheet"/>
    </head>
    
    <body>

        <div class="container center">
            
            <header id="menu-index" class="center">
                <div id="logo">

                </div>
                <nav id="menu-items" class="center">  
                    <ul>
                        <li>Temas</li>
                        <li>Canecas</li>
                        <li>Quadros</li>
                        <li>Camisetas</li>
                        <li>Mousepads</li>
                        <li>Capinhas</li>
                        <li>Coleções</li>
                        <li>Sobre nós</li>
                    </ul>
                </nav>
            </header>
    
            
        </div>



    </body>

</html>