<!DOCTYPE html>
<html lang="pt-br">
    <link rel="shortcut icon" href="../../public/assets/icons/coin.ico">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geek Coins - Pesquisa</title>

    <link href="../../public/css/global.css" rel="stylesheet"/>
    <link href="../../public/css/search.css" rel="stylesheet"/>
    <link href="../../public/css/palette.css" rel="stylesheet"/>

</head>
<body>

    <aside class="container-filters center">

    </aside>

    <main class="container-results center">
        <div class="container-intern center">

            <div id="container-search" class="center">
                <form role="search" id="form-search" action="/src/repositories/products/searchProducts.php" method="GET">
                    <button type="submit" id="button-search"><img src="../../public/assets/icons/search-solid.svg" alt="ícone de lupa" id="icon-search"></button>
                    <input type="search" incremental="incremental" name="search" id="bar-search" placeholder="Pesquisar...">                        
                </form>
            
                <a href="#" id="anchor-login" class="cinza-escuro">Entre ou cadastre-se</a>
                
                <div id="container-icons">
                    <a href="#" class="button-icons">
                        <img src="../../public/assets/icons/favoritos.svg" alt="ícone de coração" id="icon-wishlist">
                    </a>
                    <a href="#" class="button-icons">
                        <img src="../../public/assets/icons/sacola.svg" alt="ícone de sacola de compras" id="icon-shopping">
                    </a>
                </div>                        
            </div>

            <div class="delivery-ordination">
                <div class="delivery">
                    <div class="text-delivery">
                        <span>Consultar frete:</span>
                        <a class="find-cep" href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_blank">Não sei meu CEP</a>                    
                    </div>
    
                    <form action="" method="GET" class="form-cep">
                        <label for="cep"></label>
                        <input class="type-cep" type="text" name="cep" placeholder="00000-000">
                    </form>
                </div>
                <div class="ordination">
                    <span class="order-by">Ordenar por:</span>
                    <form action="" method="GET" class="form-ordination">
                        <label for="ordination"></label>
                        <select name="ordination" id="ordination" class="select-ordination">
                            <option value="price-asc">Menor preço</option>
                            <option value="price-desc">Maior preço</option>
                            <option value="rate-desc">Mais bem avaliados</option>
                            <option value="bestsellers-desc" selected="selected">Mais vendidos</option>
                            <option value="launch-desc">Lançamentos</option>
                        </select>
                    </form>
                </div>
            </div>

        </div>
    </main>
</body>
</html>