<!DOCTYPE html>
<html lang="pt-br">
    <link rel="shortcut icon" href="../../public/assets/icons/coin.ico">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geek Coins - Pesquisa</title>

    <link href="/public/css/global.css" rel="stylesheet"/>
    <link href="/public/css/search.css" rel="stylesheet"/>

</head>
<body>
    <form action="/src/repositories/products/searchProducts.php" method="GET">
        <button type="submit"><img src="/public/assets/icons/search-solid.svg" alt="" id="icon-search"></button>
        <input type="search" name="search" id="search" placeholder="Pesquisar...">
    </form>
</body>
</html>