<!DOCTYPE html>
<html lang="pt-br">
    <link rel="shortcut icon" href="../../public/assets/icons/coin.ico">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geek Coins - Pesquisa</title>

    <link href="../../public/css/global.css" rel="stylesheet"/>
    <link href="../../public/css/search.css" rel="stylesheet"/>
    <link href="../../public/css/palette.css" rel="stylesheet"/>

</head>
<body>

    <aside class="container-filters center">
        <div class="logo">
            <img src="../../public/assets/icons/logo-horizontal.svg" alt="Logotipo Geek Coins">
        </div>

        <div class="filters">
        
            <div class="total-results">
                <span>43 Resultados</span>
            </div>

            <div class="division-line"></div>

            <div class="budget">
                <span>Preço</span>
                <form action="" method="GET" class="budget-form">
                    <label for="min-price"></label>
                    <input type="text" name="min-price" class="budget-price" placeholder="R$ mín">
                    <label for="max-price"></label>
                    <input type="text" name="max-price" class="budget-price" placeholder="R$ máx">
                </form>
            </div>

            <div class="division-line"></div>

            <div class="categories">
                <span>Produto</span>
            </div>

            <div class="division-line"></div>

            <div class="collections">
                <span>Coleção</span>
                <div class="collections">
                   
                    <label class="checkbox-label" for="all">
                        <p class="name">Todas</p>
                        <input type="checkbox" id="all" name="all" value="all">
                        <span class="checkbox-custom"></span>
                        <span class="checkbox-checked"></span>
                    </label>
                    
                    <label class="checkbox-label" for="blood-label"> 
                        <p class="name">Blood Label</p>
                        <input type="checkbox" id="blood-label" name="blood-label" value="bloodlabel">
                        <span class="checkbox-custom"></span>
                        <span class="checkbox-checked"></span>
                    </label>
                    
                    <label class="checkbox-label" for="tv2home"> 
                        <p class="name">TV 2 HOME</p>
                        <input type="checkbox" id="tv2home" name="tv2home" value="tv2home">
                        <span class="checkbox-custom"></span>
                        <span class="checkbox-checked"></span>                   
                    </label>
                    
                    <label class="checkbox-label" for="bestenemies4ever"> 
                        <p class="name">BestEnemies4ever</p>
                        <input type="checkbox" id="bestenemies4ever" name="bestenemies4ever" value="bestenemies4ever">
                        <span class="checkbox-custom"></span>
                        <span class="checkbox-checked"></span>                   
                    </label>
                    
                    <label class="checkbox-label" for="lol"> 
                        <p class="name">Work of Legends</p>
                        <input type="checkbox" id="lol" name="lol" value="lol">
                        <span class="checkbox-custom"></span>
                        <span class="checkbox-checked"></span>                   
                    </label>
                    
                    <label class="checkbox-label" for="bleach"> 
                        <p class="name">Bleach Coffee</p>
                        <input type="checkbox" id="bleach" name="bleach" value="bleach">
                        <span class="checkbox-custom"></span>
                        <span class="checkbox-checked"></span>                   
                    </label>
                    
                    <label class="checkbox-label" for="naruto"> 
                        <p class="name">Total Naruto</p>
                        <input type="checkbox" id="naruto" name="naruto" value="naruto">
                        <span class="checkbox-custom"></span>
                        <span class="checkbox-checked"></span>                   
                    </label>  
                
                </div>
            </div>

        </div>
    </aside>

    <main class="container-results center">
        <div class="container-intern center">

            <div id="container-search" class="center">
                <form role="search" id="form-search" action="/src/repositories/products/searchProducts.php" method="GET">
                    <button type="submit" id="button-search"><img src="../../public/assets/icons/search-solid.svg" alt="ícone de lupa" id="icon-search"></button>
                    <input type="search" incremental="incremental" name="search" id="bar-search" placeholder="Pesquisar...">                        
                </form>
            
                <a href="#" id="anchor-login" class="cinza-escuro">Entre ou cadastre-se</a>
                
                <div id="container-icons">
                    <a href="#" class="button-icons">
                        <img src="../../public/assets/icons/favoritos.svg" alt="ícone de coração" id="icon-wishlist">
                    </a>
                    <a href="#" class="button-icons">
                        <img src="../../public/assets/icons/sacola.svg" alt="ícone de sacola de compras" id="icon-shopping">
                    </a>
                </div>                        
            </div>

            <div class="delivery-ordination">
                <div class="delivery">
                    <div class="text-delivery">
                        <span>Consultar frete:</span>
                        <a class="find-cep" href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_blank">Não sei meu CEP</a>                    
                    </div>
    
                    <form action="" method="GET" class="form-cep">
                        <label for="cep"></label>
                        <input class="type-cep" type="text" name="cep" placeholder="00000-000">
                    </form>
                </div>
                <div class="ordination">
                    <span class="order-by">Ordenar por:</span>
                    <form action="" method="GET" class="form-ordination">
                        <label for="ordination"></label>
                        <select name="ordination" id="ordination" class="select-ordination">
                            <option value="price-asc">Menor preço</option>
                            <option value="price-desc">Maior preço</option>
                            <option value="rate-desc">Mais bem avaliados</option>
                            <option value="bestsellers-desc" selected="selected">Mais vendidos</option>
                            <option value="launch-desc">Lançamentos</option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="results">
                
                <div class="hover-position">
                    <div class="card">
                        <a href="#">
                            <img alt="imagem do produto" src="../../public/assets/images/caneca-clash-royale.png">
                        </a>
                        <div class="card-info">
                            <p class="title cinza-escuro">Caneca Clash Royale</p>
                            <p class="price laranja-escuro">R$34,99</p>
                        </div>

                        <div class="card-hover">
                            <div id="text-hover">
                                <p>frete de R$10,49</p>
                                <p>entrega em 04 dias úteis</p>
                            </div> 
                            <div id="container-icons">
                                <a href="#" class="button-icons">
                                    <img src="../../public/assets/icons/favoritos.svg" alt="Lista de favoritos" id="icon-wishlist"> 
                                    <p>Salvar</p>
                                </a>
                                <a href="#" class="button-icons">
                                    <img src="../../public/assets/icons/sacola.svg" alt="Sacola de compras" id="icon-shopping">
                                    <p>Adicionar</p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="hover-position">
                    <div class="card">
                        <a href="#">
                            <img alt="imagem do produto" src="../../public/assets/images/caneca-akira-luana.png">
                        </a>
                        <div class="card-info">
                            <p class="title cinza-escuro">Caneca Akira Luana</p>
                            <p class="price laranja-escuro">R$39,99</p>
                        </div>

                        <div class="card-hover">
                            <div id="text-hover">
                                <p>frete de R$5,90</p>
                                <p>receba hoje mesmo!</p>
                            </div> 
                            <div id="container-icons">
                                <a href="#" class="button-icons">
                                    <img src="../../public/assets/icons/favoritos.svg" alt="Lista de favoritos" id="icon-wishlist"> 
                                    <p>Salvar</p>
                                </a>
                                <a href="#" class="button-icons">
                                    <img src="../../public/assets/icons/sacola.svg" alt="Sacola de compras" id="icon-shopping">
                                    <p>Adicionar</p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="hover-position">
                    <div class="card">
                        <a href="#">
                            <img alt="imagem do produto" src="../../public/assets/images/caneca-itachi.png">
                        </a>
                        <div class="card-info">
                            <p class="title cinza-escuro">Caneca Itachi - Coleção Naruto</p>
                            <p class="price laranja-escuro">R$33,99</p>
                        </div>

                        <div class="card-hover">
                            <div id="text-hover">
                                <p>frete de R$12,56</p>
                                <p>entrega em 02 dias úteis</p>
                            </div> 
                            <div id="container-icons">
                                <a href="#" class="button-icons">
                                    <img src="../../public/assets/icons/favoritos.svg" alt="Lista de favoritos" id="icon-wishlist"> 
                                    <p>Salvar</p>
                                </a>
                                <a href="#" class="button-icons">
                                    <img src="../../public/assets/icons/sacola.svg" alt="Sacola de compras" id="icon-shopping">
                                    <p>Adicionar</p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="results">

                <div class="hover-position">
                    <div class="card">
                        <a href="#">
                            <img alt="imagem do produto" src="../../public/assets/images/caneca-league-of-legends.png">
                        </a>
                        <div class="card-info">
                            <p class="title cinza-escuro">Caneca League Of Legends</p>
                            <p class="price laranja-escuro">R$32,99</p>
                        </div>

                        <div class="card-hover">
                            <div id="text-hover">
                                <p>frete grátis!</p>
                                <p>entrega em 03 dias úteis</p>
                            </div> 
                            <div id="container-icons">
                                <a href="#" class="button-icons">
                                    <img src="../../public/assets/icons/favoritos.svg" alt="Lista de favoritos" id="icon-wishlist"> 
                                    <p>Salvar</p>
                                </a>
                                <a href="#" class="button-icons">
                                    <img src="../../public/assets/icons/sacola.svg" alt="Sacola de compras" id="icon-shopping">
                                    <p>Adicionar</p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="hover-position">
                    <div class="card">
                        <a href="#">
                            <img alt="imagem do produto" src="../../public/assets/images/caneca-ichigo-hollow-lados.png">
                        </a>
                        <div class="card-info">
                            <p class="title cinza-escuro">Caneca Ichigo Hollow</p>
                            <p class="price laranja-escuro">R$36,99</p>
                        </div>

                        <div class="card-hover">
                            <div id="text-hover">
                                <p>frete de R$8,79</p>
                                <p>entrega em 05 dias úteis</p>
                            </div> 
                            <div id="container-icons">
                                <a href="#" class="button-icons">
                                    <img src="../../public/assets/icons/favoritos.svg" alt="Lista de favoritos" id="icon-wishlist"> 
                                    <p>Salvar</p>
                                </a>
                                <a href="#" class="button-icons">
                                    <img src="../../public/assets/icons/sacola.svg" alt="Sacola de compras" id="icon-shopping">
                                    <p>Adicionar</p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="hover-position">
                    <div class="card">
                        <a href="#">
                            <img alt="imagem do produto" src="../../public/assets/images/caneca-mario-world.png">
                        </a>
                        <div class="card-info">
                            <p class="title cinza-escuro">Caneca Super Mario World</p>
                            <p class="price laranja-escuro">R$32,99</p>
                        </div>

                        <div class="card-hover">
                            <div id="text-hover">
                                <p>frete de R$6,49</p>
                                <p>entrega em 03 dias úteis</p>
                            </div> 
                            <div id="container-icons">
                                <a href="#" class="button-icons">
                                    <img src="../../public/assets/icons/favoritos.svg" alt="Lista de favoritos" id="icon-wishlist"> 
                                    <p>Salvar</p>
                                </a>
                                <a href="#" class="button-icons">
                                    <img src="../../public/assets/icons/sacola.svg" alt="Sacola de compras" id="icon-shopping">
                                    <p>Adicionar</p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="results-navigation">

                <img class="icon-arrow" src="../../public/assets/icons/voltar-slider.svg" alt="Voltar" onclick="plusCards(-1)">

                <div class="slide-buttons">
                    <span class="button-slide demo" onclick="currentDiv(1)"></span>
                    <span class="button-slide demo" onclick="currentDiv(2)"></span>
                    <span class="button-slide demo" onclick="currentDiv(3)"></span>
                    <span class="button-slide demo" onclick="currentDiv(4)"></span>
                    <span class="button-slide demo" onclick="currentDiv(5)"></span>
                    <span class="button-slide demo" onclick="currentDiv(6)"></span>
                    <span class="button-slide demo" onclick="currentDiv(7)"></span>
                    <span class="button-slide demo" onclick="currentDiv(8)"></span>
                </div>

                <img class="icon-arrow" alt="Avançar" src="../../public/assets/icons/ir-slider.svg" onclick="plusCards(+1)">

            </div>
        </div>
    </main>
</body>
</html>